name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  schedule:
    - cron: '40 11 * * *'
  push:
    branches: [ main ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ main ]
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Publish Docker
        # You may pin to the exact commit or the version.
        # uses: elgohr/Publish-Docker-Github-Action@93655185f260b851ede78d9a57760a8bbda65f68
        uses: elgohr/Publish-Docker-Github-Action@v4
        with:
          # The name of the image you would like to push
          name: tofandel/php_node
          # The login username for the registry
          username: ${{ secrets.DOCKER_USERNAME }}
          # The login password for the registry
          password: ${{ secrets.DOCKER_PASSWORD
          tag_semver: true
